

.input, .inputZ {
	height: 30px;
    width: 70px;
    margin-top: 4px;
	margin-right:2px;
    border-color: #ccf1fa;
    align-content: space-around;
    border-style: groove;
    border-radius: 8px;
}

.row {
	margin-left:20px;
}

.btn-maximizar{
	color:#FFF;
	background-color: #44d373;
	border-radius:15px;
	border:none;
	height:50px;
	line-height:30px;
	padding: 0 20px;
	text-transform:uppercase;
	font-weight:bold;
	cursor: pointer;
	margin-left:20px;
	margin-top:25px;
	
}

.btn-solucao{
	color:#FFF;
	background-color: #4a79d9;
	border-radius:15px;
	border:none;
	height:50px;
	line-height:30px;
	padding: 0 20px;
	text-transform:uppercase;
	font-weight:bold;
	cursor: pointer;
	margin-left:20px;
	margin-bottom:10px;
	
}

.aqui{
	margin-left:20px;
	
}